# 直接把7、8月的当成9、10月的

In [1]:
import numpy as np
import pandas as pd

In [2]:
ua = pd.read_csv('datas/mars_tianchi_user_actions.csv')
so = pd.read_csv('datas/mars_tianchi_songs.csv')
data = pd.merge(ua, so, on=['song_id'])
data.head()

,user_id,song_id,gmt_create,action_type,Ds,artist_id,publish_time,song_init_plays,language,gender
0,7063b3d0c075a4d276c5f06f4327cf4a,effb071415be51f11e845884e67c0f8c,1426406400,1,20150315,2ec1450a1389d4e3fc2a9a76c9378bb3,20110515,165494,1,2
1,57b36cad7d86cdc69e8f18138f8f4741,effb071415be51f11e845884e67c0f8c,1426424400,1,20150315,2ec1450a1389d4e3fc2a9a76c9378bb3,20110515,165494,1,2
2,dfa6fddc693133bbaa6ed1076d877557,effb071415be51f11e845884e67c0f8c,1426420800,1,20150315,2ec1450a1389d4e3fc2a9a76c9378bb3,20110515,165494,1,2
3,b2982712434c578eeffda9188f9d993b,effb071415be51f11e845884e67c0f8c,1426381200,1,20150315,2ec1450a1389d4e3fc2a9a76c9378bb3,20110515,165494,1,2
4,ef23d47c177f4cc9461752199da22877,effb071415be51f11e845884e67c0f8c,1426424400,2,20150315,2ec1450a1389d4e3fc2a9a76c9378bb3,20110515,165494,1,2

In [11]:
plays = data[data.action_type == 1].groupby(['artist_id', 'Ds'])['action_type'].sum()

In [12]:
plays.to_csv('datas/temp.csv')
plays = pd.read_csv('datas/temp.csv', names=['artist_id', 'Ds', 'plays'])
plays.head()

                          artist_id        Ds  plays
0  023406156015ef87f99521f3b343f71f  20150301    482
1  023406156015ef87f99521f3b343f71f  20150302    449
2  023406156015ef87f99521f3b343f71f  20150303    474
3  023406156015ef87f99521f3b343f71f  20150304    458
4  023406156015ef87f99521f3b343f71f  20150305    398

In [13]:
july = plays[(plays.Ds >= 20150701) & (plays.Ds <= 20150830)]
july.head()

                            artist_id        Ds  plays
122  023406156015ef87f99521f3b343f71f  20150701    440
123  023406156015ef87f99521f3b343f71f  20150702    571
124  023406156015ef87f99521f3b343f71f  20150703    376
125  023406156015ef87f99521f3b343f71f  20150704    383
126  023406156015ef87f99521f3b343f71f  20150705    429

In [14]:
ds = july.pop('Ds')
ds = ds.add(200)

In [15]:
july['Ds'] = ds
july.head()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                            artist_id  plays        Ds
122  023406156015ef87f99521f3b343f71f    440  20150901
123  023406156015ef87f99521f3b343f71f    571  20150902
124  023406156015ef87f99521f3b343f71f    376  20150903
125  023406156015ef87f99521f3b343f71f    383  20150904
126  023406156015ef87f99521f3b343f71f    429  20150905

In [16]:
july.to_csv('datas/july.csv', index=False)